In [0]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series()
print(s)

Series([], dtype: float64)

In [7]:
arr = np.array(['a','b','c','d'], dtype='S1')
s = pd.Series(arr)
print(s)

0    b'a'
1    b'b'
2    b'c'
3    b'd'
dtype: bytes8

In [8]:
s = pd.Series(arr, index=[100,101,102,103])
print(s)

100    b'a'
101    b'b'
102    b'c'
103    b'd'
dtype: bytes8

In [18]:
dict1 = {'a': 1, 'b':2}
s = pd.Series(dict1)
print(s)

a    1
b    2
dtype: int64

In [19]:
print(dict1['a'])

1

In [10]:
s = pd.Series(5, index=[1,2,3,4])
print(s)

1    5
2    5
3    5
4    5
dtype: int64

In [12]:
print(s[1])

5

In [13]:
print(s[:2])

1    5
2    5
dtype: int64

In [20]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [22]:
data = [['Suhas',1], ['Bhairav', 2], ['SS',3]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

      Name  Age
0    Suhas    1
1  Bhairav    2
2       SS    3

In [24]:
data = [['Parrot', 1], ['Zebra', 2], ['Lion', 3]]
df = pd.DataFrame(data, columns=['Animal', 'Count'], dtype=float)
print(df)

   Animal  Count
0  Parrot    1.0
1   Zebra    2.0
2    Lion    3.0

In [0]:
data ={'Name':['Suhas', 'K', 'Bhairav', 'S', 'S'], 'Age':[1,2,3,4,5]}

In [28]:
df = pd.DataFrame(data, dtype=float)
print(df)

      Name  Age
0    Suhas  1.0
1        K  2.0
2  Bhairav  3.0
3        S  4.0
4        S  5.0

In [31]:
df['AgeProduct'] = df['Age'] * 3
print(df)

      Name  Age  Age Product  AgeProduct
0    Suhas  1.0          3.0         3.0
1        K  2.0          6.0         6.0
2  Bhairav  3.0          9.0         9.0
3        S  4.0         12.0        12.0
4        S  5.0         15.0        15.0

In [0]:
del df['AgeProduct']

In [34]:
print(df)

      Name  Age  Age Product
0    Suhas  1.0          3.0
1        K  2.0          6.0
2  Bhairav  3.0          9.0
3        S  4.0         12.0
4        S  5.0         15.0

In [35]:
print(df.iloc[2])

Name           Bhairav
Age                  3
Age Product          9
Name: 2, dtype: object

In [38]:
s = pd.Series(np.random.randn(4))
print(s)

0   -0.521608
1    0.531578
2    0.166328
3    0.274588
dtype: float64

In [39]:
s = pd.Series(np.random.randn(10))
print(s)

0    1.303001
1    1.679153
2   -1.667754
3   -1.625749
4    0.104350
5   -0.280387
6   -0.374989
7    1.078972
8    1.228946
9    0.158844
dtype: float64

In [40]:
print(s.head(2))

0    1.303001
1    1.679153
dtype: float64

In [41]:
print(s.tail(2))

8    1.228946
9    0.158844
dtype: float64

In [42]:
print(s.dtypes)

float64

In [43]:
print(s.shape)

(10,)

In [46]:
print(s.diff())

0         NaN
1    0.376153
2   -3.346907
3    0.042005
4    1.730099
5   -0.384737
6   -0.094602
7    1.453961
8    0.149974
9   -1.070101
dtype: float64

In [44]:
print(s.size)

10

In [45]:
print(s.sum())

1.6043879122071603

In [47]:
print(df.mean())

Age            3.0
Age Product    9.0
dtype: float64

In [48]:
print(s.mean())

0.16043879122071603

In [49]:
print(df.std(), s.std())

Age            1.581139
Age Product    4.743416
dtype: float64 1.1838853888932521